// Typography
$main-font: 'Mukta', sans-serif;
$handwrite: 'Kaushan Script', cursive;

// Colors
$light: #EFF7F6;
$light-dark: #d8d8d8;

$main-color: #065661;
$main-color-hover: #043941;

$second-color: #279C80;
$second-color-hover: #1e705d;

$admin-color: #a5a49f;
$admin-color-hover: #838075;

$admin-second-color: #504f4c;
$admin-second-color-hover: #3d3c37;

$ban-delete: #cc0202;

$relation: #1cebba;
$relation-hover: #17bd96;

$request: #d34866;
$request-hover: #aa2e49;

$finish: #1291c4;
$finish-hover: #096b92;
/* #603140 */